body {
  background-color: rgb(51, 10, 29);
  color: white;
  font-family: monospace;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1,
p {
  text-align: center;
}

p {
  font-size: 15px;
  line-height: 1.5;
  margin: 20px 90px;
}

footer {
  display: block;
  font-size: 15px;
  margin: 13px;
  text-align: center;
}

footer a {
  color: rgb(212, 151, 151);
  margin: 0 12px;
  text-decoration: none;
}

.email {
  color: rgb(212, 151, 151);
  text-decoration: none;
}

footer a:hover,
.email:hover {
  text-decoration: underline;
}

.main-heading,
.contact-heading {
  margin-top: 100px;
}

.photo-heading {
  margin-top: 50px;
  font-size: 25px;
}
.croissant-photo {
  background: white;
  border: 1px solid white;
  padding: 12px;
  border-radius: 2px;
  display: block;
  margin: 30px auto;
  max-width: 90%;
}

.main-footer,
.contact-footer {
  margin: 40px auto;
}
