body {
  background-color: rgb(36, 135, 160);
  color: white;
  font-family: monospace;
}

h1 {
  text-transform: uppercase;
}

h1,
p {
  text-align: center;
}

p {
  font-size: 15px;
  margin: 20px 80px;
}

footer {
  display: block;
  font-size: 15px;
  margin: 20px;
  text-align: center;
}

footer a,
.email {
  color: rgb(0, 42, 231);
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover,
.email:hover {
  text-decoration: underline;
}

.main-heading,
.contact-heading {
  margin-top: 100px;
}

.croissant-photo {
  border-radius: 20px;
  display: block;
  margin: 5px auto;
  max-width: 100%;
}

.main-footer,
.contact-footer {
  margin: 40px auto;
}
